POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=wallet_to_wallet_transfer

POSTGRES_ADMIN_USER=wtow_admin
POSTGRES_ADMIN_PASSWORD=

POSTGRES_USER_MANAGER_USER=wtow_user_mngr
POSTGRES_USER_MANAGER_PASSWORD=

POSTGRES_ACCOUNT_MANAGER_USER=wtow_account_mngr
POSTGRES_ACCOUNT_MANAGER_PASSWORD=
