POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=wallet_to_wallet_transfer

POSTGRES_ADMIN_USER=wtow_admin
POSTGRES_ADMIN_PASSWORD=

POSTGRES_SERVICE_USER=wtow_service
POSTGRES_SERVICE_PASSWORD=
